/* General Styles */
body {
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background: url('/public/images/cá\ nướng.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Header Styles */
p {
    margin-top: 80px;
    text-align: center;
    color: #a54d2f;
    font-size: 28px;
    font-family: 'Georgia', serif;
    font-weight: bold;
}

.filter-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-container button,
.filter-container select {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filter-container select {
    width: 200px;
}

/* Table Styles */
table {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

table thead th {
    background-color: #a54d2f;
    color: #fff;
    padding: 15px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    border: 1px solid #d4cec5;
    text-align: center;
}

table tbody tr:nth-child(even) {
    background-color: #f9f4eb;
}

table tbody tr:nth-child(odd) {
    background-color: #fdfcf8;
}

table tbody td {
    padding: 12px;
    text-align: center;
    border: 1px solid #d4cec5;
    word-wrap: break-word;
    /* Bẻ dòng nếu nội dung quá dài */
    white-space: normal;
    /* Đảm bảo nội dung dài sẽ xuống dòng */
    vertical-align: middle;
    /* Căn giữa nội dung theo chiều dọc */
}

/* Dropdown Styles */
.status-dropdown {
    padding: 8px;
    font-size: 14px;
    font-family: 'Times New Roman', serif;
    border: 1px solid #d4cec5;
    background-color: #fdfcf8;
    color: #6a4e1f;
}

.status-dropdown:hover {
    border-color: #a54d2f;
}

/* Links for Actions */
.detail a {
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    color: #141313;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
}

.detail{
    background-color: #d8ad56;
}

.btn-edit {
    background-color: #d8ad56;
}

.btn-edit:hover {
    background-color: #f9a827;
}

.btn-delete {
    background-color: #c44f4b;
}

.btn-delete:hover {
    background-color: #de423c;
}

/* Ensure Action buttons stack vertically if needed */
td .action-buttons {
    display: flex;
    flex-wrap: wrap;
    /* Các nút sẽ xuống dòng nếu không đủ không gian */
    gap: 8px;
    /* Khoảng cách giữa các nút */
    justify-content: center;
    /* Căn giữa các nút */
}

/* No Orders Message */
tbody td[colspan] {
    text-align: center;
    padding: 20px;
    background-color: #fdfcf8;
    font-style: italic;
    font-size: 16px;
    color: #6a4e1f;
}