<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .intro {
            position: relative;
            width: 100%;
            height: 1000px;
            margin: 0px;
            padding: /* Chiều cao banner */
            overflow: hidden;
        }
        
        .intro .bia img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            /* Hiển thị hình ảnh không bị méo */
        }
    </style>
</head>

<body>
    <div class="intro">
        <img src="/public/images/Vân Kiều - Pa Cô.png" alt="Banner" class="bia">
    </div>
</body>

</html>